body {
  font-family: 'Leckerli One', cursive;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight:400;
  background-image: url('/images/summer.jpg');
  color: #000000;

}
h1 {
  font-family: 'Leckerli One', cursive;
  color: #ffffff;
}

h2{
  font-family: 'Leckerli One', cursive;
  color: #000000;
}

h3,h4,h5{
  font-family: 'Roboto', sans-serif;
  align-content: flex-start;
  text-align: justify;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

}

.portfolio {
  align-content: right;
  align-items: right;


}

img {
  border: 0px mediumturquoise;
  border-radius: 0px;
  padding: 15px;
  width: 300px;
  height: auto;
  margin: 0 auto;
}


nav {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  height: 180px;
  color: mediumturquoise;

}
.userPic {
  height: 224px;
  width: auto;

}

.userDetails {
  background-color: rgb(10, 42, 121);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 15px;
  flex-grow: 2;
}

.userDetails h1 {
margin: 0;
font-size: 36px;
}
.userDetails span {
  margin: 0;
  display: inline-block;
}

.about,
.portfolio,
.contact,
.presentations,
.diagrams
{
color: mediumturquoise;
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
}

.about ion-icon,
.portfolio ion-icon,
.contact ion-icon,
.presentations ion-icon,
.diagrams ion-icon
 {
  font-size: 25px;

}
.aboutMe {
 text-align: right;
 text-indent: initial;
}

.about {
  background-color: mediumturquoise;
}

.presmain {
  text-align: center;
}


.portfolio {
  background-color: mediumseagreen;
  align-content: center;
  text-align: center;
}

.contact {
  background-color: mediumturquoise;
}

.presentations {
  background-color: mediumseagreen;
  align-content: center;
  text-align: center;
}
.diagrams {
  background-color: mediumturquoise;
}

.maind {
  text-align: center;
}
.container {
  text-align: left;
  font-display: block;
  padding: 15px;
  text-indent: 0em;
}
p.ex1 {
  padding-left: 50px;
}

.diagramsmain {
  text-align: center;
}

figure{
  float: left;
  width: 350px;
  position: flex;
  margin: 25px;
}

footer {
 text-align: center;
}

* {
  box-sizing: border-box;
}
